<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PyToastUI</title>

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css">
    <!-- plugin css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-table-merged-cell/latest/toastui-editor-plugin-table-merged-cell.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css">

    <style>
        /* Style pour le bouton */
        #save-form {
            display: inline-block;
            margin-bottom: 15px;
            padding: 15px 32px;
            background-color: #4CAF50;
            border: none;
            cursor: pointer;
            text-align: center;
            color: white;
            font-size: 16px;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        #save-form:hover {
            background-color: #3e8e41;
        }
    </style>
</head>

<body>
    <!-- Dependencies -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- Editor's Plugin -->
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-table-merged-cell/latest/toastui-editor-plugin-table-merged-cell.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>

    <!-- HTML integration comportement -->
    <form action="/save" method="post">
        <input type="hidden" name="markdown_content" id="markdown_content">
        <button type="submit" id="save-form">Enregistrer</button>
    </form>

    <div id="editor"></div>

    <!-- ToastUi comportement -->
    <script type="text/template" id="markdown-template">
        {{ markdown_content.get_content() | safe }}
    </script>

    <script>

        //Send signal to flask app to save content
        function saveContent() {
            fetch('/save', {
                method: 'POST',
            })
        }

        //When content change, send it to flask server
        function onEditorUpdate() {
            fetch('/signal', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify( {content: editor.getMarkdown()} ),
            })
            .then(response => response.json())
            .then(data => {console.log('Success:', data);})
            .catch((error) => {console.error('Error:', error);});
        }

        //load plugins
        const { Editor } = toastui;
        const { colorSyntax } = Editor.plugin;
        const { tableMergedCell } = Editor.plugin;
        const { codeSyntaxHighlight } = Editor.plugin;

        var initialMarkdown = document.querySelector('#markdown-template').textContent.trim();
        var editor = new Editor({
            usageStatistics: false,
            el: document.querySelector('#editor'),
            //action to run when event detected
            events: {
              change: onEditorUpdate,
            },
            height: '56em',
            initialEditType: 'wysiwyg', // sinon : markdown
            previewStyle: 'vertical',
            initialValue: initialMarkdown, // charge le contenu initial
            toolbarItemsPosition: 'top', // Déplace les onglets "Markdown" et "WYSIWYG" en haut de l'éditeur

            // Ajout d'une barre d'outils personnalisée avec un bouton de titre
            toolbarItems: [
                ['heading', 'bold', 'italic', 'strike'],
                ['hr', 'quote', 'code', 'codeblock',],
                ['ul', 'ol', 'task'],
                ['link', 'table', 'image'],
                ['indent', 'outdent'],
            ],
            imageCompress: false,
            //useCommandShortcut: false, // Désactive les raccourcis clavier de toastui-editor
            plugins: [
                colorSyntax,
                tableMergedCell,
                codeSyntaxHighlight,
            ],
        });

    // Récupère le bouton de soumission du formulaire
    document.getElementById('save-form').addEventListener('submit', function(event) {
        event.preventDefault();
        saveContent();
    });

    document.addEventListener('keydown', function(event) {
        // Vérifie si la touche Ctrl et la touche S sont enfoncées
        if (event.ctrlKey && event.key === 's') {
            event.preventDefault();
            saveContent();
        }
    });

    </script>

</body>

</html>

